<header class="navbar navbar-expand navbar-dark px-4 flex-column flex-md-row">
    <a aria-label="NG Bootstrap" class="navbar-brand mr-2 mr-md-0" routerlink="/" href="#/">

    </a>
    <div class="navbar-nav-scroll">
        <ul class="navbar-nav flex-row">
            <li class="nav-item">
                <a class="nav-link" href="#/getting-started">Getting Started</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="#/components">Components</a>
            </li>
        </ul>
    </div>
    <ul class="navbar-nav flex-row ml-md-auto d-none d-md-flex">
        <span class="github-buttons d-none d-lg-inline">
            <iframe allowtransparency="true" scrolling="no" frameborder="0" src="https://buttons.github.io/buttons.html#href=https%3A%2F%2Fgithub.com%2Fng-bootstrap%2Fng-bootstrap&amp;title=&amp;aria-label=Star%20ng-bootstrap%2Fng-bootstrap%20on%20GitHub&amp;data-text=Star&amp;data-size=large&amp;data-show-count=true" style="width: 113px; height: 28px; border: none;"></iframe>
            <iframe id="twitter-widget-0" scrolling="no" frameborder="0" allowtransparency="true" class="twitter-hashtag-button twitter-hashtag-button-rendered twitter-tweet-button" style="position: static; visibility: visible; width: 155px; height: 28px;" title="Twitter Tweet Button" src="https://platform.twitter.com/widgets/tweet_button.c5b006ac082bc92aa829181b9ce63af1.en.html#button_hashtag=ngbootstrap&amp;dnt=false&amp;id=twitter-widget-0&amp;lang=en&amp;original_referer=https%3A%2F%2Fng-bootstrap.github.io%2F%23%2Fcomponents%2Faccordion%2Fexamples&amp;size=l&amp;text=I%27m%20checking%20out%20ng-bootstrap%2C%20THE%20Angular%20UI%20framework%20for%20Bootstrap%20CSS&amp;time=1529560522084&amp;type=hashtag&amp;url=https%3A%2F%2Fng-bootstrap.github.io" data-hashtag="ngbootstrap"></iframe>
        </span>
    </ul>
    <button aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler navbar-toggler-right" type="button">
        <span class="navbar-toggler-icon"></span>
    </button>
</header>
